@import url('../CSS/RootVAR.css');

html, body {
  height: 100%;
  background-color: var(--backgroundColour);
  box-sizing: border-box;
}

.BodyDiv {
  font-family: var(--font-family);
  display: flex;
  height: 100vh;
  width: 100vw;
  color: var(--textColor);
}

.homeBody {
  background-color: var(--bodyBackgroundcolour);
  padding: 10px 20px;
  margin: 10px;
  flex: 1;
}

.header {
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px 10px;
}
