@import url('../CSS/RootVAR.css');
@import url('normalize.css');

.Leftcontainer {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
}

.Rightcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 15%;
  margin-bottom: 15%;
}

section{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

