@import url('../CSS/RootVAR.css');

.container {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 90vh;
}

.tabDiv{
  position: inherit;
  padding: 5px 5px;
  margin: 5px;
}

section{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

