@import url("../CSS/RootVAR.css");
@import url('normalize.css');

.dropDownButton {
  border-radius: 5px;
  position: absolute;
  left: 95vh;
}

.dropDownBox {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--ProjectsBody);
  border: 1px solid var(--outlineColour);
  padding: 10px;
  z-index: 1;
}

.dropDownContainer {
  position: relative;
  z-index: 1;
}

.dropdownVisible .dropDownContainer {
  margin-bottom: 100px;
}

.ProjectTitle{
    margin: 5px;
    position: relative;
    top: 0;
    left: 0;
}

.ProjectSummary{
    margin: 5px;
    position: relative;
    left: 0;
}

.ProjectGoToButton{
    margin: 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
}
