@import url('../CSS/RootVAR.css');

footer {
  font-family: var(--font-family);
  padding: 10px 20px;
  margin: 5px;
  color: var(--textColor);
  position: relative;
  display: flex;
  min-height: fit-content;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.leftFooter {
  text-align: left;
  padding: 5px 10px;
}

.rightFooter {
  text-align: right;
  padding: 5px 10px;
}


