@import url("../CSS/RootVAR.css");
@import url("normalize.css");

h1 {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.headerContainer {
  background-color: var(--backgroundColour);
  padding: 10px 10px;
  margin-left: 5px;
  position: relative;
  overflow: hidden;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-line {
  height: 4px;
  background-color: var(--secondaryColour);
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 0;
  height: 97%;
  width: 4px;
  border-radius: 5px;
}

.resumeButton {
  background-color: var(--bodyBackgroundcolour);
  color: var(--textColor);
  width: 150px;
  height: 50px;
  border: 2px solid var(--outlineColour);
  border-radius: 5px;
  cursor: pointer;
}

.hDivContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 10%;
}

.pDivContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 10%;
}

.NAVDivContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 10%;
}

.PFPimg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 10px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--ProjectsBody);
  border: 2px dashed var(--outlineColour);
  border-bottom: 3px inset var(--outlineColour);
  border-radius: 5px;
}

@media (max-width: 600px) {
  .headerContainer{
    min-width: 139px;
  }

  h1 {
    font-size: 16px;
  }

  .hDivContainer {
    font-size: x-small;
  }

  .pDivContainer {
    display: none;
  }

  .NAVDivContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 730px) {
  .headerContainer{
    min-width: 139px;
  }

  .PFPimg{
    height: 10%;
  }

  h1 {
    font-size: 16px;
  }

  .hDivContainer {
    font-size: x-small;
  }

  .pDivContainer {
    display: none;
  }

  .NAVDivContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1130px) {
  .PFPimg{
    max-height: 20%;
  }

  h1 {
    font-size: 22px;
  }

  .hDivContainer {
    font-size: small;
  }

  .pDivContainer {
    display: none;
  }

  .NAVDivContainer {
    margin: auto;
    width: inherit;
  }
}
