@import url('../CSS/RootVAR.css');
@import url('normalize.css');

h1 { /* Use lower case 'h1' */
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.headerContainer{
  background-color: var(--backgroundColour);
  padding: 10px 10px;
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 20%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

.Creds {
  margin: auto;
}

.header-line {
  height: 4px;
  background-color: var(--secondaryColour);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 1%;
  border-radius: 5px;
}

.resumeButton{
  background-color: var(--bodyBackgroundcolour);
  color: var(--textColor);
  width: 150px;
  height: 50px;
  border: 2px solid var(--outlineColour);
  border-radius: 5px;
  cursor: pointer;
}

.hDivContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin-left: 10px;
  margin-right: 10px;
}
