@import url("../CSS/RootVAR.css");
@import url('normalize.css');

nav {
  display: flex;
  align-items: center;
  height: 30%;
}

nav ul {
  padding: 5px;
}

nav ul li {
  display: inline;
  position: relative;
}

.socialsButton {
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--buttoncolour);
}

.Icon{
  width: 31px;
  height: auto;
}