@import url("../CSS/RootVAR.css");

.Projectarticle {
  margin: 5px;
  padding: 5px 5px;
  border: 2px solid var(--outlineColour);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--ProjectsBody);
  background-size: contain;
  box-shadow: 4px 8px 5px rgba(0, 0, 0, 0.1);
  height: 85vh;
}

.ProjectContainer {
  position: relative;
}

.ProjectDiv{
  position: inherit;
  padding: 5px 5px;
  margin: 5px;
}

.ProjectLine {
  height: 98%;
  background-color: var(--secondaryColour);
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 8px;
  width: 4px;
  border-radius: 5px;
  z-index: 0;
}


