.ConstructionDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2.5px solid black;
  border-radius: 8px;
  position: relative;
  left: 5%;
  width: 90%;
  height: 35%;
  background: repeating-linear-gradient(
    -45deg,       
    #FFD300,            
    #FFD300 20px,       
    grey 20px,         
    grey 40px
  );  
}

.MessageHeader{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 4px;
  border: 2.5px solid black;
}

.MessageSubtitle{
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border-radius: 4px;
  border: 2.5px solid black;
}

.ConstructIcon{
  width: 60px;
  height: auto;
}